nav {
  padding: 20px;
}

.navbar {
  height: 100px;
  .offcanvas-body {
    .nav-item {
      .nav-link {
        color: white;
        text-transform: capitalize;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .nav-btn {
      padding: 10px 40px;
    }
  }
}

.main {
  margin-top: 90px;
  height: 1700px;
  @media (max-width: 576px) {
    height: 2300px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 992px) {
  }
  .main-menu {
    max-width: 420px;
    width: 100%;
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 568px) {
      width: 465px;
    }
    border-radius: 15px;
    padding: 22px 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    gap: 20px;

    .contact-bac {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(36, 36, 36, 0.05);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .contact-menu {
      .menu__text {
        margin: 0px;
      }
    }
  }
}


