@import url("https://fonts.cdnfonts.com/css/cera-round-pro-demo?styles=152405,152403,152402");

nav {
  padding: 20px;
}

.navbar {
  height: 100px;
  .offcanvas-body {
    .nav-item {
      .nav-link {
        color: white;
        font-family: "Open Sans";
        text-transform: capitalize;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .nav-btn {
      padding: 10px 40px;
    }
  }
}
.home-main {
  height: 2500px;
  @media (max-width: 576px) {
    height: 5900px;
  }
  @media (max-width: 768px) {
    height: 5900px;
  }
  @media (max-width: 992px) {
    height: 5900px;
  }
 
}
 .row__number{
    text-align: center;
  }

.home-footer{
  margin-top: 50px;
}
