$ceraRound: "Cera Round Pro DEMO", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ceraRound;
  font-weight: 500;
}

p,
span,
strong,
em,
i {
  font-family: $ceraRound;
}

.header {
  height: 100px;
}
.navbar {
  height: 100px;
  .offcanvas {
    .offcanvas-body {
      .nav-link {
        text-transform: capitalize;
        color: white;
        font-family: $ceraRound;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
      .navbar-nav {
        .nav-btn {
          padding: 10px 40px !important;
        }
      }
    }
  }
}

.main {
    margin-bottom: 50px;
  height: 2500px;
  @media (max-width: 992px) {
    height: 6500px;
  }
  @media (max-width: 768px) {
    height: 6500px;
  }
  @media (max-width: 576px) {
    height: 6000px;
  }
  padding: 100px 0px;
  .site-our {
    height: 100%;
  }
  .site-new-card {
    height: 700px;
  }
}

.card {
  background-color: #aaaaaa9c !important;
}
